<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0-preview5-19254-05" targetFramework="net47" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.3.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="NLog" version="4.5.9" targetFramework="net47" />
  <package id="Polly" version="5.9.0" targetFramework="net47" />
  <package id="Unity" version="5.8.6" targetFramework="net47" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net47" />
  <package id="Unity.Interception" version="5.5.3" targetFramework="net47" />
</packages>