<div class="charts-container">
  <app-truck-chart></app-truck-chart>
  <div class="table-container">
    <table mat-table [dataSource]="resultData" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Культура</th>
        <td mat-cell *matCellDef="let element">{{ element?.title }}</td>
      </ng-container>

      <ng-container matColumnDef="entryDateTime">
        <th mat-header-cell *matHeaderCellDef>Доступна дата прибуття</th>
        <td mat-cell *matCellDef="let element">{{ element?.entryDateTime }}</td>
      </ng-container>

      <ng-container matColumnDef="trucksInQueue">
        <th mat-header-cell *matHeaderCellDef>Кількість автомобілів у черзі</th>
        <td mat-cell *matCellDef="let element">{{ element?.trucksInQueue }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<h2 class="align-center">Завантаженість реєстрації</h2>
<div *ngIf="barChartInfo != undefined">
  <app-bar-chart
    *ngFor="let item of barChartInfo; let i = index"
    [barChartInfo]="item"
    [barColor]="productDataService.colours[i]"
  ></app-bar-chart>
</div>
