$main-text-color: #0f3d5c;
$main-accent-color: #897a27;
$text-color: black;

$chart-light-blue-color: #51c6ea;
$chart-dark-blue-color: #24b7e5;
$chart-light-purple-color: #9289ca;
$chart-dark-purple-color: #7166ba;