@model Gravitas.Platform.Web.ViewModel.LaboratoryInVms.PrintReadTrayRfidVm
@Html.HiddenFor(m => m.NodeId, new { @id = "nodeId" })

<div class="d-flex align-items-center icon-container">
    <div class="flex-shrink-1"><i class="fas fa-inbox"></i></div>
    <div class="p-3 w-100"><h3>Піднесіть лоток для аналізів до зчитувача</h3></div>
</div>

<diw class="row justify-content-between">
    <div class="col-md-3 col-sm-6">
        @Ajax.ActionLink(@"Назад", "PrintReadTrayRfid_Back", "LaboratoryIn", new { nodeId = Model.NodeId }, null, new { @class = "btn btn-danger btn-lg btn-block" })
    </div>
</diw>