@import "../../../assets/override-material.scss";
header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: black;

  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    .logo img {
      width: 25rem;
      outline: none;
    }

    .nav-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: stretch;
      align-content: stretch;

      div {
        padding-right: 1vw;
        padding-left: 1vw;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            border-bottom: 2px solid $main-green;
            cursor: pointer;
          }
          &.active {
            border-bottom: 2px solid $main-green;
          }
        }
      }
      background-color: white;
      margin-right: 1vw;
      font-size: 15px;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    .header-container {
      .logo img {
        width: 100vw;
      }
      .nav-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        width: 100vw;
        font-size: larger;
      }
    }
  }
}
