.st0 {
  fill: #C3C5C8;

  &.active {
    fill: #66d87f;
  }

  &.inactive {
    fill: #d36565;
  }

  &.in-work {
    fill: #d1bd0a;
  }
}

.st1 {
  fill: #D4D6D8;

  &.active {
    fill: rgb(56, 158, 38);
  }

  &.inactive {
    fill: rgb(185, 62, 31);
  }

  &.in-work {
    fill: rgb(187, 142, 5);
  }
}

.st2 {
  fill: #F7F7F8;
}

.st3 {
  display: none;
}

.st4 {
  display: inline;
  fill: #45AAE1;
  fill-opacity: 0.75;
}

.st5 {
  fill: #EDEEEF;
}

.st6 {
  fill: url(#SVGID_1_);
}

.st7 {
  fill: url(#SVGID_2_);
}

.st8 {
  fill: url(#SVGID_3_);
}

.st9 {
  fill: url(#SVGID_4_);
}

.st10 {
  fill: #AEAFB2;
}

.st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_5_);
}

.st12 {
  fill: #0083CC;
}

.st13 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
}

.st14 {
  fill: none;
  stroke: url(#SVGID_6_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st15 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #0083CC;
}

.st16 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_7_);
}

.st17 {
  fill: none;
  stroke: url(#SVGID_8_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st18 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_9_);
}

.st19 {
  fill: none;
  stroke: url(#SVGID_10_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st20 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_11_);
}

.st21 {
  fill: none;
  stroke: url(#SVGID_12_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st22 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_13_);
}

.st23 {
  fill: none;
  stroke: url(#SVGID_14_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st24 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_15_);
}

.st25 {
  fill: none;
  stroke: url(#SVGID_16_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st26 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_17_);
}

.st27 {
  fill: none;
  stroke: url(#SVGID_18_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st28 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_19_);
}

.st29 {
  fill: none;
  stroke: url(#SVGID_20_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st30 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_21_);
}

.st31 {
  fill: none;
  stroke: url(#SVGID_22_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st32 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_23_);
}

.st33 {
  fill: none;
  stroke: url(#SVGID_24_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st34 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_25_);
}

.st35 {
  fill: none;
  stroke: url(#SVGID_26_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st36 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_27_);
}

.st37 {
  fill: none;
  stroke: url(#SVGID_28_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st38 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_29_);
}

.st39 {
  fill: none;
  stroke: url(#SVGID_30_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st40 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_31_);
}

.st41 {
  fill: none;
  stroke: url(#SVGID_32_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st42 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_33_);
}

.st43 {
  fill: none;
  stroke: url(#SVGID_34_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st44 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_35_);
}

.st45 {
  fill: none;
  stroke: url(#SVGID_36_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st46 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_37_);
}

.st47 {
  fill: none;
  stroke: url(#SVGID_38_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st48 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_39_);
}

.st49 {
  fill: none;
  stroke: url(#SVGID_40_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st50 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_41_);
}

.st51 {
  fill: none;
  stroke: url(#SVGID_42_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st52 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_43_);
}

.st53 {
  fill: none;
  stroke: url(#SVGID_44_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st54 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_45_);
}

.st55 {
  fill: none;
  stroke: url(#SVGID_46_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st56 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_47_);
}

.st57 {
  fill: none;
  stroke: url(#SVGID_48_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st58 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_49_);
}

.st59 {
  fill: none;
  stroke: url(#SVGID_50_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st60 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_51_);
}

.st61 {
  fill: none;
  stroke: url(#SVGID_52_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st62 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_53_);
}

.st63 {
  fill: none;
  stroke: url(#SVGID_54_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st64 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_55_);
}

.st65 {
  fill: none;
  stroke: url(#SVGID_56_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st66 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_57_);
}

.st67 {
  fill: none;
  stroke: url(#SVGID_58_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st68 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_59_);
}

.st69 {
  fill: none;
  stroke: url(#SVGID_60_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st70 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_61_);
}

.st71 {
  fill: none;
  stroke: url(#SVGID_62_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st72 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_63_);
}

.st73 {
  fill: none;
  stroke: url(#SVGID_64_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st74 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_65_);
}

.st75 {
  fill: none;
  stroke: url(#SVGID_66_);
  stroke-width: 1.8269;
  stroke-miterlimit: 10;
}

.st76 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_67_);
}

.st77 {
  fill: none;
  stroke: url(#SVGID_68_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st78 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_69_);
}

.st79 {
  fill: none;
  stroke: url(#SVGID_70_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st80 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_71_);
}

.st81 {
  fill: none;
  stroke: url(#SVGID_72_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st82 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_73_);
}

.st83 {
  fill: none;
  stroke: url(#SVGID_74_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st84 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_75_);
}

.st85 {
  fill: none;
  stroke: url(#SVGID_76_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st86 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_77_);
}

.st87 {
  fill: none;
  stroke: url(#SVGID_78_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st88 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_79_);
}

.st89 {
  fill: none;
  stroke: url(#SVGID_80_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st90 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_81_);
}

.st91 {
  fill: none;
  stroke: url(#SVGID_82_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st92 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_83_);
}

.st93 {
  fill: none;
  stroke: url(#SVGID_84_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st94 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_85_);
}

.st95 {
  fill: none;
  stroke: url(#SVGID_86_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st96 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_87_);
}

.st97 {
  fill: none;
  stroke: url(#SVGID_88_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st98 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_89_);
}

.st99 {
  fill: none;
  stroke: url(#SVGID_90_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st100 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_91_);
}

.st101 {
  fill: none;
  stroke: url(#SVGID_92_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st102 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_93_);
}

.st103 {
  fill: none;
  stroke: url(#SVGID_94_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st104 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_95_);
}

.st105 {
  fill: none;
  stroke: url(#SVGID_96_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st106 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_97_);
}

.st107 {
  fill: none;
  stroke: url(#SVGID_98_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st108 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_99_);
}

.st109 {
  fill: none;
  stroke: url(#SVGID_100_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.st110 {
  fill: url(#SVGID_101_);
}

.kpp {
  fill: none;
  stroke: url(#SVGID_KPP_);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.kpp-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_KPP_ARROW);
}


.vizirovka-text-box {
  fill: none;
  stroke: url(#SVGID_VIZ_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.vizirovka-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_VIZ_A);
}

.avtkkz-text-box {
  fill: none;
  stroke: url(#SVGID_AVTKKZ_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.avtkkz-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AVTKKZ_ARR);
}


.avtschema-text-box {
  fill: none;
  stroke: url(#SVGID_AVTSCH_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.avtschema-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AVTSCH_ARR);
}

.zavzer-text-box {
  fill: none;
  stroke: url(#SVGID_ZAVZERNO_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.zavzer-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_ZAVZERNO_ARR);
}

.zavshrs-text-box {
  fill: none;
  stroke: url(#SVGID_ZAVSHROT5_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.zavshrs-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_ZAVSHROT5_ARR);
}

.zavshr-text-box {
  fill: none;
  stroke: url(#SVGID_ZAVSHROT_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.zavshr-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_ZAVSHROT_ARR);
}

.olson-text-box {
  fill: none;
  stroke: url(#SVGID_OLSON_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.olson-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_OLSON_ARR);
}

.shp1-text-box {
  fill: none;
  stroke: url(#SVGID_SHP1_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.shp1-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_SHP1_ARR);
}


.shp2-text-box {
  fill: none;
  stroke: url(#SVGID_SHP2_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.shp2-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_SHP2_ARR);
}

.arp-text-box {
  fill: none;
  stroke: url(#SVGID_ARP_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.arp-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_ARP_ARR);
}

.prk-text-box {
  fill: none;
  stroke: url(#SVGID_PRK_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.prk-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_PRK_ARR);
}


.rst-text-box {
  fill: none;
  stroke: url(#SVGID_RST_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.rst-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_RST_ARR);
}

.arr-text-box {
  fill: none;
  stroke: url(#SVGID_ARR_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.arr-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_ARR_ARR);
}

.ar50-text-box {
  fill: none;
  stroke: url(#SVGID_AR50_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.ar50-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AR50_ARR);
}

.ar30-text-box {
  fill: none;
  stroke: url(#SVGID_AR30_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.ar30-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AR30_ARR);
}

.el2zz1-text-box {
  fill: none;
  stroke: url(#SVGID_EL2ZZ1_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.el2zz1-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_EL2ZZ1_ARR);
}

.el3zz1-text-box {
  fill: none;
  stroke: url(#SVGID_EL3ZZ1_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.el3zz1-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_EL3ZZ1_ARR);
}

.ar40-text-box {
  fill: none;
  stroke: url(#SVGID_AR40_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.ar40-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AR40_ARR);
}

.el2zz2-text-box {
  fill: none;
  stroke: url(#SVGID_EL2ZZ2_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.el2zz2-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_El2ZZ2_ARR);
}

.zps-text-box {
  fill: none;
  stroke: url(#SVGID_ZPS_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.zps-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_ZPS_ARR);
}

.zpls-text-box {
  fill: none;
  stroke: url(#SVGID_ZPLS_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.zpls-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_ZPLS_ARR);
}

.ar100-text-box {
  fill: none;
  stroke: url(#SVGID_AR100_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.ar100-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AR100_ARR);
}

.ar200-text-box {
  fill: none;
  stroke: url(#SVGID_AR200_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.ar200-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AR200_ARR);
}

.ar300-text-box {
  fill: none;
  stroke: url(#SVGID_AR300_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.ar300-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_AR300_ARR);
}

.e4zo1-text-box {
  fill: none;
  stroke: url(#SVGID_E4ZO1_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.e4zo1-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_E4ZO1_ARR);
}

.e4zo3-text-box {
  fill: none;
  stroke: url(#SVGID_E4ZO3_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.e4zo3-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_E4ZO3_ARR);
}

.e4zo2-text-box {
  fill: none;
  stroke: url(#SVGID_E4ZO2_TB);
  stroke-width: 1.8585;
  stroke-miterlimit: 10;
}

.e4zo2-arrow {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_E4ZO2_ARR);
}

// ng class styles
.inactive-title {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: rgb(126, 154, 170);
}

text {
  .title {
    font-size: 45%;
  }
}

.in-work {
  .st0 {
    fill: #d1bd0a;
  }

  .st1 {
    fill: rgb(187, 142, 5);
  }
}

.active {
  .st0 {
    fill: #66d87f;
  }

  .st1 {
    fill: rgb(56, 158, 38);
  }
}

.inactive {
  .st0 {
    fill: #d36565;
  }

  .st1 {
    fill: rgb(185, 62, 31);
  }
}


.clickable {
  cursor: pointer;
}

.text-field {
  cursor: context-menu;
}
