<div class="jumbotron">
    <h1>PDF print demo</h1>
    <p class="lead">We are using the IronPdf library to generate and download PDF, which represents current HTML page.</p>
    <p><a href="https://ironpdf.com/docs/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>To try this demo - click on the 'PDF prinf demo' link</p>
        <p>@Html.ActionLink("PDF prinf demo", "Index", "PrintForm", new { area = "" }, null)</p>
    </div>
</div>
