@model IEnumerable<HangfireDemo.ViewModels.JobViewModel>

@{
    ViewData["Title"] = "Job Scheduler";
}

<h2>Job Scheduler</h2>

<p>
    <a href="/Hangfire">Dashboard</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Schedule", "ScheduleJobPage", new { jobName=item.Name }) |
                @Html.ActionLink("Details", "JobDetails", new { name=item.Name }) 
            </td>
        </tr>
}
    </tbody>
</table>
