@using Gravitas.Model.DomainValue
@using Gravitas.Platform.Web.ViewModel.Shared
@model Gravitas.Platform.Web.ViewModel.SingleWindowVms.IdleVm
@Html.HiddenFor(m => m.NodeId, new { id = "nodeId" })

<div class="d-flex align-items-center icon-container">
    <div class="flex-shrink-1"><i class="fas fa-id-card"></i></div>
    <div class="p-3 w-100"><h3>Піднесіть картку водія до зчитувача</h3></div>
</div>

<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        @{ Html.RenderAction(
               "GetRegistry",
               "TicketContainer",
               new {
                   nodeId = Model.NodeId,
                   registerType = TicketRegisterType.SingleWindow,
                   detailActionLink = new ActionLinkVm {
                       NodeId = Model.NodeId,
                       ControllerName = "SingleWindow",
                       ActionName = "Idle_SelectTicketContainer"
                   }
               });
        }
    </div>



