@model IQueryable<Gravitas.Platform.Web.ViewModel.Admin.NodeTraffic.NodeTrafficItem>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-6">
            <h5>Протерміновані записи</h5>
        </div>
     </div>
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NodeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TicketContainerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().EntranceTime)
                </th>

            </tr>
            @foreach (var item in Model)
            {
                @Html.Partial("Traffic/_TerminatedTrafficItem", item)
            }
        </table>
    </div>
</div>
    
