@model Gravitas.Platform.Web.ViewModel.BlackList.Record.BlackListTransportRecordVm

<div class="row mt-1">
    <div class="col-5" title="Деталі" data-toggle="popover" data-html="true" data-placement="left" data-content="Причина внесення: <br/> @Model.Comment">
        @Html.TextBoxFor(model => model.TransportNumber, new { @class = "form-control", @readonly = "true" })
    </div>
    <div class="col-6">
        @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @readonly = "true" })
    </div>
    <div class="col-1">
        @Html.ActionLink("Видалити", "DeleteTransportRecord", "BlackList", new { id = Model.Id }, new { @class = "btn btn-warning" })
    </div>
</div>
