<h1 mat-dialog-title>Зміна паролю</h1>
<form mat-dialog-content [formGroup]="changePasswordForm" class="flex-form">
  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="oldPassword"
      placeholder="Поточний"
    />
    <mat-error *ngIf="changePasswordForm?.get('oldPassword')?.invalid">
      Ви ввели неправильний пароль
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Новий"
    />
    <mat-error *ngIf="changePasswordForm?.get('password')?.invalid">
      Ви ввели неправильний пароль
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
      placeholder="Повторіть новий"
    />
    <mat-error *ngIf="changePasswordForm?.get('confirmPassword')?.invalid">
      Ви ввели неправильний пароль
    </mat-error>
  </mat-form-field>
  <div class="flex-buttons">
    <button mat-raised-button (click)="close()">
      Відмінити
    </button>
    <button mat-raised-button (click)="changePasssword()">Змінити</button>
  </div>
</form>
