@using Gravitas.Model
@model List<Gravitas.Model.DomainModel.Node.DAO.NodeProcessingMessage>

@{
    string alertClass = string.Empty;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        switch (item.TypeId)
        {
            case ProcessingMsgType.Error:
                alertClass = "alert-danger";
                break;
            case ProcessingMsgType.Warning:
                alertClass = "alert-warning";
                break;
            case ProcessingMsgType.Info:
                alertClass = "alert-info";
                break;
            case ProcessingMsgType.Success:
                alertClass = "alert-success";
                break;
        }

        <div class="alert @alertClass alert-dismissible fade show" role="alert">
            <strong>@item.DateTime</strong> @item.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="clearNodeProcessingMessage(document.getElementById('nodeId').value);">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

