<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="logs\NlogCore.log">
  <targets>
    <target name="file" xsi:type="File" encoding="UTF-8" layout="${longdate}|${level}|${callsite}|${logger}|${message} ${exception:format=message,stacktrace:separator=*"  fileName="logs\${date:format=yyyy-MM-dd}-DeviceSync.log" />
    <target name="console" xsi:type="Console" encoding="UTF-8" layout="${longdate} ${callsite} ${level} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="file"/>
  </rules>
</nlog>