@model Gravitas.Platform.Web.ViewModel.SecurityOutVms.NonStandartPassVm
@Html.HiddenFor(m => m.NodeId, new { @id = "nodeId" })

<div class="d-flex align-items-center icon-container">
    <div class="flex-shrink-1"><i class="far fa-file-alt"></i></div>
    <div class="p-3 w-100"><h3>Запис в журнал</h3></div>
</div>