
@Scripts.Render("~/bundles/d3")
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/wwwroot/src/apps/routes-editor/d3chart.js"></script>
<script src="~/wwwroot/src/apps/routes-editor/d3plot.js"></script>
<script src="~/wwwroot/src/apps/routes-editor/d3scatter.js"></script>
<script src="~/wwwroot/src/apps/routes-editor/d3diagram.js"></script>
@*<div id="preview1" style="width: 600px; height: 200px; background-color: aliceblue; border: 1px solid #ccc"></div>
<div id="preview2" style="width: 1000px; height: 500px; background-color: aliceblue; border: 1px solid #ccc"></div>
<div id="preview3" style="width: 1000px; height: 500px; background-color: aliceblue; border: 1px solid #ccc"></div>*@
<div id="preview4" style="width: 1000px; height: 1000px; background-color: aliceblue; border: 1px solid #ccc">
	<svg width=960 height=600><g /></svg>
</div>