<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SchemeHttp" value="http://" />
  <add key="SchemeHttps" value="https://" />
  <add key="JsonContentType" value="application/json" />
  <add key="XmlContentType" value="application/xml" />
  <add key="PdfContentType" value="application/pdf" />
  <add key="ExcelContentType" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
  <add key="SignalRHost" value="http://localhost:3142/" />
  <!-- <add key="SignalRHost" value="http://10.11.71.70/" /> -->
  <!-- <add key="OneCApiHost" value="http://10.11.73.135/bu_dev_malinovskiy_k/hs/bulat" /> -->
  <add key="OneCApiHost" value="http://10.9.73.135/1c/hs/bulat" />
  <add key="OneCApiLogin" value="Bulat" />
  <add key="OneCApiPassword" value="XZVhPzNH*gYv" />
  
  <add key="ConnectApiHost" value="http://localhost:8088/Connect" />
  <add key="CollisionsReceiveHost" value="http://10.11.71.70:8081"/>
  <add key="CollisionsConfirmHost" value="https://bulatcollisionapi.srv.mhp.com.ua:443"/>

  <add key="SmsApiHost" value="https://api.mobizon.ua"/>
  <add key="SmsApiToken" value="ua357b3f9bad72043a4ed2ca1665d0f5d1ef0886196e15bea09abb24d5bda2e9645291"/>
  <add key="MaximumScaleWeight" value="60000"/>
  <add key="MaximumGrossWeightDifference" value="300"/>

  <add key="EmailHost" value="cas.srv.mhp.com.ua"/>
  <add key="DisplayIpAddress" value="10.64.75.230"/>
  <add key="DisplayTcpPort" value="1234"/>
  <add key="DisplayEnabled" value="true"/>
  <add key="TrailerDisplayTime" value="5000"/>

  <add key="RootEmail" value="srv_erki_bulat@mhp.com.ua"/>
  <add key="RootEmailLogin" value="srv_erki_bulat"/>
  <add key="RootEmailPassword" value="Durj+hyk4"/>
  <add key="OmniHost" value="https://api.omnicell.com.ua/ip2sms/"/>
  <add key="OmniLogin" value="kucherenko"/>
  <add key="OmniPassword" value="fhJA9362xumnwrc"/>

  <add key="ScaleMinLoad" value="1200" />

  <add key="NonStandartPassTimeout" value="30" />

  <add key="CameraImageBasePath" value="D:\FTP\GravitasFrames" />
  <add key="CameraImageNamePrefix" value="" />

  <add key="TicketFilesPath" value="D:\FTP\TicketFiles" />
  <add key="TicketFilesPrefix" value="" />
  
  <add key="WeighbridgeCheckScaleReloadTime" value="60"/>
  <add key="WeighbridgeCheckScaleEmptyTimeout" value="25"/>

  <add key="AdminPassword" value="1111"/>

  <add key="DeviceMonitorDelay" value="5"/>

</appSettings>